<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.work.user.mapper.UserMapper">
    <insert id="signup">
        insert into user (userId, password, nickname) values (#{userId}, #{password}, #{nickname})
    </insert>

    <select id="selectAuthUserByUserId" parameterType="String">
        select userId, password, nickname, userRole
          from user
         where userId = #{userId}
    </select>
</mapper>