<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.work.user.mapper.UserMapper">
    <insert id="signup">
        insert into users (userId, password, nickname, userRole, email, phone, address)
        values (#{userId}, #{password}, #{nickname}, #{userRole}, #{email}, #{phone}, #{address})
    </insert>

    <select id="selectAuthUserByUserId" parameterType="String">
        select userId, password, nickname, userRole
          from users
         where userId = #{userId}
    </select>

    <select id="existsByUserId" parameterType="String">
        select count(*)
          from users
         where userId = #{userId}
    </select>

    <insert id="saveLoginHistory">
        insert into userLoginHistory (userId, ip) values (#{userId}, #{ip})
    </insert>

    <insert id="sendMailFailHistory">
        insert into sendMailFailHistory (userId) values (#{userId})
    </insert>
</mapper>